bin/
obj/
.qmake.cache
.qmake.stash
.vagrant/
.vs/
.vscode/
*.ai
*.autosave
*.dll
*.exe
*.jar
*.o
*.obj
*.pdb
*.pro.user
*.pro.user.*
*.psd
*.rc
*.res
*.user
*.wixobj
*.wixpdb
*.DS_Store
Makefile*
moc_*.cpp
qrc_*.cpp
!res/deploy/linux/bin/
