bin/*
obj/
.vagrant/
.vs/
*.ai
*.autosave
*.o
*.obj
*.pdb
*.pro.user
*.pro.user.*
*.psd
*.rc
*.res
*.user
*.wixobj
*.wixpdb
*.DS_Store
Makefile*
moc_*.cpp
qrc_*.cpp
/.qmake.cache
/.qmake.stash
!res/deploy/linux/bin/
