bin/
obj/
apk-editor-studio.*.qm
.qmake.cache
.qmake.stash
.vagrant/
.vs/
.vscode/
*.ai
*.autosave
*.deb
*.dll
*.dmg
*.exe
*.jar
*.msi
*.o
*.obj
*.pdb
*.pro.user
*.pro.user.*
*.psd
*.rc
*.res
*.user
*.wixobj
*.wixpdb
*.zip
*.AppImage
*.DS_Store
Makefile*
moc_*.cpp
moc_*.h
qrc_*.cpp
