[Desktop Entry]
Version=1.0
Type=Application
Name=APK Editor Studio
Comment=Edit APK resources
GenericName=APK resource editor
Exec=apk-editor-studio %F
Icon=apk-editor-studio
Categories=Utility;
Terminal=false
MimeType=application/vnd.android.package-archive;
